# GitHub Actions Workflow for publishing the plugin to JetBrains Marketplace.
# Triggered when a GitHub Release is published (from the draft created by the Build workflow).
#
# Required secrets:
#   PUBLISH_TOKEN          - JetBrains Marketplace token (required)
#   CERTIFICATE_CHAIN      - Plugin signing certificate chain (optional)
#   PRIVATE_KEY            - Plugin signing private key (optional)
#   PRIVATE_KEY_PASSWORD   - Plugin signing private key password (optional)
#
# See https://plugins.jetbrains.com/docs/intellij/plugin-signing.html

name: Release
on:
  release:
    types: [prereleased, released]

jobs:

  release:
    name: Publish Plugin
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:

      - name: Fetch Sources
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.release.tag_name }}

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: zulu
          java-version: 21

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Publish Plugin
        env:
          PUBLISH_TOKEN: ${{ secrets.PUBLISH_TOKEN }}
          CERTIFICATE_CHAIN: ${{ secrets.CERTIFICATE_CHAIN }}
          PRIVATE_KEY: ${{ secrets.PRIVATE_KEY }}
          PRIVATE_KEY_PASSWORD: ${{ secrets.PRIVATE_KEY_PASSWORD }}
        run: ./gradlew publishPlugin

      - name: Upload Release Asset
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: gh release upload ${{ github.event.release.tag_name }} ./build/distributions/*
